@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,300;1,400&family=Nunito:ital,wght@0,700;1,400&display=swap');
body{
    padding:0px;
    margin:0px;
    font-family: 'Nunito', sans-serif;
}
.main-section{
    width:100vw;
    min-height: 100vh;
    font-size: 12px;
}
.app-menu{
  display: grid;
  grid-template-columns: 35% auto;

  a{
      text-decoration: none;
      float: left;

  }
  .menu-container{
      width:'90%' !important;
      display:flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-evenly;
  }
}
.app-full{
    width:100%;
}
.app-white{

}
.app-dark{
    background-color: black;

    .app-menu{
        color:white;

        a{
            color:white;
        }
    }
    main{
        color: white;
    }

}