@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,300;1,400&family=Nunito:ital,wght@0,700;1,400&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

#mainsection {
  width: 100vw;
  min-height: 40vh;
  float: left;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainsection .live-pointer {
  background-color: white;
  width: 15px;
  height: 50px;
  border-radius: 6px;
}

.main-section {
  width: 100vw;
  min-height: 100vh;
  font-size: 12px;
}

.app-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% auto;
      grid-template-columns: 35% auto;
}

.app-menu a {
  text-decoration: none;
  float: left;
  padding: 10px 3px;
}

.app-menu .menu-container {
  width: '90%' !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app-menu .mobile-level-section {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  place-content: center;
}

#mainsection {
  width: 100%;
}

#mainsection .mobile-level-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
}

.featured-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
}

.featured-section img {
  width: 100%;
}

.featured-section h3 {
  margin: 0px;
  color: purple;
}

.project-types {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 5;
  padding-top: 10%;
  margin-bottom: 3%;
}

.project-types img {
  height: 80px;
  margin: 0px;
}

.project-types div, .project-types p, .project-types h4, .project-types h3 {
  text-align: center;
  margin: 0px !important;
}

.projects {
  width: 100%;
  margin-top: 3%;
  float: left;
  padding: 1%;
}

.projects .container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

.projects .container small {
  color: purple;
  margin: 0px;
}

.projects .container h3 {
  margin: 0px;
}

.projects .container span {
  width: 100%;
}

.projects .container span div {
  padding: 2px;
  background-color: lightgrey;
  float: left;
  margin: 1px;
  border-radius: 4px;
}

.projects img {
  width: 30%;
  float: left;
}

.development {
  text-align: center;
  float: left;
  width: 100%;
}

.development h5 {
  margin: 0px;
}

.development .project-simple {
  float: left;
  width: 20%;
  margin: 0px 2%;
}

.development .project-simple h6 {
  font-size: medium;
  margin: 0px;
}

.footer {
  width: 100%;
}

.footer img {
  width: 20%;
  margin: 2% 0px 2% 2%;
}

.app-full {
  width: 100%;
}

.app-dark {
  background-color: black;
}

.app-dark .app-menu {
  color: white;
}

.app-dark .app-menu a {
  color: white;
}

.app-dark main {
  color: white;
}

.app-dark .projects span div {
  color: purple;
}
/*# sourceMappingURL=main.css.map */