@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,300;1,400&family=Nunito:ital,wght@0,700;1,400&display=swap");
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

#mainsection {
  width: 100vw;
  min-height: 40vh;
  float: left;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainsection .live-pointer {
  width: 15px;
  height: 50px;
  border-radius: 6px;
  position: relative;
}

#mainsection .live-pointer div {
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  top: 7%;
  left: 8%;
}

.main-section {
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  overflow: hidden;
}

.app-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% auto;
      grid-template-columns: 35% auto;
}

.app-menu a {
  text-decoration: none;
  float: left;
  padding: 10px 3px;
}

.app-menu .menu-container {
  width: '90%' !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app-menu .mobile-level-section {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  place-content: center;
}

#mainsection {
  width: 100%;
}

#mainsection .mobile-level-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
}

.skillslayout .app-tab-hidden {
  display: none;
}

.featured-section {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
  margin: 2% 20%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px purple;
          box-shadow: 0px 0px 2px purple;
}

.featured-section img {
  width: 100%;
}

.featured-section h3 {
  margin: 0px;
  color: purple;
}

.project-types {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 5;
  padding-top: 10%;
  margin-bottom: 3%;
}

.project-types img {
  height: 80px;
  margin: 0px;
}

.project-types div, .project-types p, .project-types h4, .project-types h3 {
  text-align: center;
  margin: 0px !important;
}

.services {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  text-align: center;
  width: 80%;
  -webkit-box-shadow: 0px 0px 4px #bbb;
          box-shadow: 0px 0px 4px #bbb;
  margin: 5% 10%;
}

.services i {
  font-size: 30px;
  padding: 3px;
}

.services h5 {
  margin: 0px;
  color: #ec5d60;
  padding: 3%;
}

.services p {
  font-weight: lighter;
}

.projects {
  width: 100%;
  margin-top: 3%;
  float: left;
  padding: 1%;
}

.projects .container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

.projects .container small {
  color: purple;
  margin: 0px;
}

.projects .container h3 {
  margin: 0px;
}

.projects .container span {
  width: 100%;
}

.projects .container span div {
  padding: 2px;
  background-color: lightgrey;
  float: left;
  margin: 1px;
  border-radius: 4px;
}

.projects img {
  width: 30%;
  float: left;
}

.development {
  text-align: center;
  float: left;
  width: 70%;
  margin: 0% 15%;
}

.development h5 {
  margin: 0px;
}

.development .project-simple {
  float: left;
  width: 20%;
  margin: 0px 2%;
}

.development .project-simple h6 {
  font-size: medium;
  margin: 0px;
}

#mobile-hidden {
  display: none;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer img {
  width: 16%;
  margin: 2% 0px 2% 2%;
}

.app-full {
  width: 100%;
}

.code-base {
  border: 0px;
  border-top: 1px solid #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.code-base .codes {
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 4px;
}

.app-white .codes {
  background: lightgray;
}

.app-white .live-pointer {
  background-color: purple !important;
}

.app-white .live-pointer div {
  background-color: #ffffff;
}

.app-white #mobile-hidden {
  background-image: repeating-linear-gradient(157.5deg, white 0px, white 10px, transparent 10px, transparent 11px), repeating-linear-gradient(67.5deg, white 0px, white 10px, transparent 10px, transparent 11px), -webkit-gradient(linear, left top, right top, from(#075014), to(#075014));
  background-image: repeating-linear-gradient(157.5deg, white 0px, white 10px, transparent 10px, transparent 11px), repeating-linear-gradient(67.5deg, white 0px, white 10px, transparent 10px, transparent 11px), linear-gradient(90deg, #075014, #075014);
}

.app-dark {
  background-color: black;
}

.app-dark #mobile-hidden {
  background-image: repeating-linear-gradient(157.5deg, black 0px, black 10px, transparent 10px, transparent 11px), repeating-linear-gradient(67.5deg, black 0px, black 10px, transparent 10px, transparent 11px), -webkit-gradient(linear, left top, right top, from(#791764), to(#791764));
  background-image: repeating-linear-gradient(157.5deg, black 0px, black 10px, transparent 10px, transparent 11px), repeating-linear-gradient(67.5deg, black 0px, black 10px, transparent 10px, transparent 11px), linear-gradient(90deg, #791764, #791764);
}

.app-dark .app-menu {
  color: white;
}

.app-dark .app-menu a {
  color: white;
}

.app-dark main {
  color: white;
}

.app-dark .projects span div {
  color: purple;
}

.app-dark .codes {
  background: purple;
}

.app-dark .live-pointer {
  background-color: white;
}

.app-dark .live-pointer div {
  background-color: purple;
}

.long {
  padding: 10px 25px;
  border-radius: 4px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 952px) {
  main#projects, main#hire {
    float: left;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    grid-gap: 2;
  }
  main#projects .projects, main#hire .projects {
    margin-top: 2% !important;
  }
  .long {
    display: none;
  }
  #hire, #projects, #skills {
    padding-top: 3%;
  }
  #mobile-hidden {
    display: block !important;
    width: 100% !important;
  }
  #mobile-hidden div {
    padding: 1%;
  }
  #mobile-hidden .app-right {
    float: right;
  }
  #mobile-hidden input {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 1% 2%;
    width: 70%;
  }
  #mobile-hidden input :focus {
    -webkit-box-shadow: 0px 0px 4px #bbb !important;
            box-shadow: 0px 0px 4px #bbb !important;
  }
  #mainsection {
    display: block;
    position: relative;
    margin-top: -1%;
  }
  #mainsection .pc-level-section {
    width: 100% !important;
    height: 80vh;
    display: -ms-grid;
    display: grid;
    float: left;
  }
  #mainsection .mobile-level-section {
    width: 50% !important;
    height: 65vh;
    display: -ms-grid;
    display: grid;
    float: left;
    position: absolute;
    left: 50%;
  }
  #menu {
    position: fixed;
    z-index: 5;
    background: rgba(100, 120, 100, 0.4);
  }
  .project-types {
    padding-top: 1%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 700px) {
  .projects {
    width: 80%;
    margin: 1% 10%;
    -webkit-box-shadow: 0px 0px 4px #bbb;
            box-shadow: 0px 0px 4px #bbb;
  }
  .projects img {
    width: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .featured-section img {
    width: 50%;
    margin: 0px 43%;
  }
  .services {
    width: 45%;
    margin: 1% 2%;
    float: left;
  }
  .skillslayout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    grid-gap: 2;
  }
  .skillslayout .app-tab-hidden {
    display: block;
  }
}

.app-padding {
  padding: 4px 8px;
}

.app-text-green {
  color: green;
}
/*# sourceMappingURL=main.css.map */