@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,300;1,400&family=Nunito:ital,wght@0,700;1,400&display=swap');
body{
    padding:0px;
    margin:0px;
    font-family: 'Nunito', sans-serif;
}
.main-section{
    width:100vw;
    min-height: 100vh;
    font-size: 12px;
}
.app-menu{
  display: grid;
  grid-template-columns: 35% auto;

  a{
      text-decoration: none;
      float: left;
      padding: 10px 3px;
  }
  .menu-container{
      width:'90%' !important;
      display:flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-evenly;
  }
  .logo{
     
  }
  
  .mobile-level-section{
    text-align: center;
    display: grid;
    place-items: center;
    text-align: center;
    place-content: center;
}
}
#mainsection{
    width:100%;

    .mobile-level-section{
        display: grid;
        place-items: center;
        place-content: center;

    }

}
.featured-section{
    width:100%;
    display: grid;
    grid-template-columns: 30% auto;
    img{
        width: 100%;
    }
    h3{
        margin:0px;
        color:purple;
    }   
}
.project-types{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5;
    img{
        height: 80px;
        margin:0px;
    }
    div,p,h4,h3{
        text-align: center;
        margin:0px !important;
    }
    padding-top: 10%;
    margin-bottom: 3%;
}
.projects{
    width:100%;
    
    .container{
        width:60%;
        display: flex;
        flex-direction: column;
        float: left;
        small{
            color:purple;
            margin: 0px;
        }
        h3{
            margin:0px;
        }
        span{
            width:100%;
    
            div{
                padding:2px ;
                background-color: lightgrey;
                float: left;
                margin: 1px;
                border-radius: 4px;;
            }
        }
    }
    img{
        width:30%;
    }
}
.footer{
    width:100%;

    img{
        width: 20%;
        margin:2% 0px 2% 2%;
    }
}
.app-full{
    width:100%;
}
.app-white{

}
.app-dark{
    background-color: black;

    .app-menu{
        color:white;

        a{
            color:white;
        }
    }
    main{
        color: white;
    }

}